h5 {
  color: #fff;
}
.login {
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.74);
  transition: all 0.5s ease;
}

.login:hover {
  color: #fff;
}

.logout {
  margin-top: 15px;
  font-size: 12px;
  display: block;
  text-align: center;
  background: #9575de;
  color: #000;
  border: none;
}

.logout:hover {
  color: #654e9a;
}


