.status_text {
    background-color: blueviolet;
    color: red;
}

.status h1 {
    background-color: blueviolet;
    color: red;
}

.status input {
    background-color: blueviolet;
    color: red;
}