.accaunt {
   text-align: left;
   margin: 2rem auto;
   display: flex;
}

.accaunt__item {
   min-width: 150px;
   max-width: 250px;

}

.accaunt__item h1 {
   font-size: 17px;
   text-align: center;
}

.accaunt__item img {
   width: 150px;
   border-radius: 50%;
   display: flex;
   margin: 10px auto;
}

.contacts {
   margin: 0 auto;
   border: 1px solid rgba(255, 255, 255, 0.2);
   box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
   width: 40rem;
   padding: 1rem 5rem;
   display: flex;
}


.info_text {
   margin-left: auto;
}

.text_job {
   margin-left: 20px;
   display: flex;
   justify-content: center;
}

.text_job p{
   margin-left: 0.4rem;
   font-size: 17px;
   align-items: center;
   display: flex;
}

.info_text h2 {
   text-align: center;
   font-size: 13px;
}

.info_text p {
   word-wrap: break-word;
   text-align: center;
   font-weight: 300;
}

.Edit_about_me {
   text-align: center;
   margin-left: 25%;
}



