.messagesItem {
 display: flex;
}

.messagesItem h1 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 3rem;
}

.messagesItemImg {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-right: 0.6rem;
}

.messagesItem:hover h1 {
  cursor: pointer;
}
