
.contacts_info {
   width: 50%;
}

.contacts_info h2 {
   font-size: 13px;
}

.list_contacts {
   margin-top: 0.8rem;
}

.list_contacts p {
   font-weight: 300;
   cursor: pointer;
   display: block;
   color: #fff;
}

.list_contacts p:hover {
   color: darkorange;
}
