
ul, li {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

button:focus {
	outline: none;
}
 

.app-wrapper { 
  /* background-color: rgb(73, 26, 184);  */
   background: linear-gradient(96deg, rgba(73, 26, 184, 0.904) 0%, rgba(73, 26, 184,1) 100%);
}

.wrapper-container {
  width: 1140px;
  margin: 0 auto;
  border: 1px dashed rgba(201, 157, 243, 0.089);
}



