
.offer {
   margin: 35px 0;
}

.offer_textarea {
   width: 400px;
   height: 70px;
   padding: 5px 10px;
}

.btn {
   font-size: 14px;
   width: 80px;
   height: 30px;
   border-radius: 5px;
   font-weight: 900;
   text-transform: uppercase;
   background: none;
   border: 1px solid rgba(146, 145, 145, 0.37);
   cursor: pointer;
   transition: all 0.5s ease;
   margin-top: 1rem;
 }
 
 .btn:hover {
   background-color: rgba(58, 21, 146, 0.473);
   color: #fff;
 }

 

